body {
  font-family: fantasy;
  /*background-image: url("img\ /cool-background.png");*/

  /*background-image: url("../cool-background.png")*/

  /*background-color: #fffafa;
opacity: 1;
background-size: 18px 17px;
background-image:  repeating-linear-gradient(0deg, #161919, #161919 1px, #fffafa 1px, #fffafa);*/

  background-size: 300% 300%; /* this is width and hight*/
  background-image: linear-gradient(
    -45deg,
    rgb(0, 255, 183) 0%,
    rgb(0, 255, 255) 25%,
    rgb(60, 255, 0) 51%,
    #ff357f 100%
  );
  -webkit-animation: AnimateBG 20s ease infinite;
  animation: AnimateBG 20s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  font-size: xx-large;
}

.FirstButtons {
  font-size: xx-large;
  font-family:fantasy ;
  background-color: transparent;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    padding: 20px;
    font-size: large;
  }
}
.FirstButtons ul {
  list-style-type: none; /*Removes dots on the list */
  padding: 0;
}

.FirstButtons button {
  background-color: transparent;
  padding: 10px 20px;
  border: none;
  margin: 10px;
  cursor: pointer;
  font-size: xx-large;
  font-family: Virgil;
}

.FirstButtons a {
  text-decoration: none;
  color: black;
}

.FirstButtons button:hover {
  background-color: transparent;
}

.HeaderContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: left;
}

.Bienvenido {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 400px; /* Set a fixed height for the header box */
  background-color: transparent; /* Header background color */
  color: black; /* Header text color */
  font-size: x-large;
}

.Container {
  /* Contenedor padre del los otros 3 divs */
  text-align: left;
  display: flex; /*By default it places everything in a row*/
  justify-content: space-between;
}

.FirstColumn,.SecoundColumn,.ThirdColumn {
  flex: 100px;
  height: auto;
  background-color: transparent; /* Box background color */
  margin: 10px; /* Add some margin to separate the boxes */
  padding: 10px; /* space within the box*/
  font-size: large;
  /*text-align: left;  Center text horizontally */
}

.SecoundColumn ul {
  padding: 3; /* distance away from the border of the "box"*/
  
}

.SecoundColumn li:hover {
  color: orange;
  cursor: pointer;
}

section {
  padding: 10px
  }

#proyectos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-starts;
  
}

.meme{ /*Button position div padre*/
  display: flex;
  flex-direction: column-reverse;
  
}

.MemeButton {
  background-color: transparent; 
  color: orange; 
  padding: 10px 20px; 
  border: none; /* Remove the default button border */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
  
}


.MemeButton:hover {
  background-color: greenyellow; /* Change background color on hover */
  transform: scale(1.05); /* Slight scale-up on hover */
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-10 22:35:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.meme-img {
  width: 100%;
  height: auto;
  animation-name: scale-in-center;
  -webkit-animation-duration: 5s;
  animation-duration: 15s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.play-animation {
  animation-play-state: running;
}



@media (max-width: 640px) {
  .Container {
    flex-direction: column;
    padding: 20px;
    font-size: large;
  }
}

/*If You dont want to use @madia you can add a minimum flex amount (for example 100px) and add a flex-direction: flex-wrap 
in the father container */
/* Tablet styles */
@media (min-width: 641px) and (max-width: 1024px) {
  .Container {
    flex-direction: row;
    padding: 20px;
    font-size: large;
  }
}

/* Desktop styles 
@media (min-width: 1025px) {
  .Container {
    flex-direction:row-reverse;
    padding: 20px;
    font-size: large;
  }
}*/

#contacto {
  color: black;
  display: flex;
  flex-direction: column;
  
}
.SocialMedia ul {
  list-style: none;
  padding: 0;
  display: flex; /* Use flex display for the list items */
}

.SocialMedia li {
  margin-right: 25px; /* Add some spacing between the icons */
}





footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

img {
  width: 50px;
  height: 50px;
  align-items: center;
}
